// -==- Variables
// == Colors Variables
// Dark Colors
$dark_head_color : #222 !important;
$dark_head2_color : #555 !important;
$dark_p_color : #666 !important;
$dark_span_color : #999 !important;
// Main Color
$main_color: #e035a0 !important;
// == Font Sizes
$head_big_size : 40px;
$head_normal_size : 28px;
$global_size : 15px;
$min_size : 11px;
