  .bg_hiphone{
    background-image:url(../imgs/backgrounds/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    .logo{
      color: white !important;
    }
  }
