// === Start Preloader Page === 
div(class="preloader position-fixed w-100 h-100")
  div(class="preloader_animation w-25 mx-auto")
    img(src="assets/imgs/preloader/preloader.gif" alt="preloader")
  div(class="text-center")
    h5(class="text-light") HIphoNe
// === End Preloader Page === 
