// === Start Scripts === 
// Jquery Script 
script(src="https://code.jquery.com/jquery-3.3.1.min.js")
// Carousel Script 
script(src=js+"swiper.min.js")
// NiceScroll Script 
script(src=js+"jquery.nicescroll.min.js")
// Bootstrap Script 
script(src=js+"bootstrap.min.js")
// Main Script 
script(src=js+"main.js")
// === End Scripts === 
