// Metas
meta(charset="UTF-8")
meta(name="description" content="HIphoNe Website Phones")
meta(name="viewport" content="width=device-width, initial-scale=1.0")

// Title
title HIphoNe

// Links
// = Icon 
link(rel="icon" href="assets/imgs/preloader/preloader.ico")
// = Carousel 
link(rel="stylesheet" href=css_plugin+"swiper.min.css")
// = Bootstrap 
link(rel="stylesheet" type="text/css" href=css_plugin+"bootstrap.min.css")
// = Fontawesome 
link(rel="stylesheet" type="text/css" href=css_plugin+"all.min.css")
// = My Main Style 
link(rel="stylesheet" type="text/css" href=css+"style.css")
link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
