
//- Mixin Next And Prev Buttons

mixin slick_button(prevButton , nextButton)
  div(class="swiper-button-prev")
    i(class="fas fa-caret-"+prevButton)
  div(class="swiper-button-next")
    i(class="fas fa-caret-"+nextButton)
