// ============================

// 	-- Start Footer Style

.footer-all{
  color:white;
  margin-top: 7%;
  padding-top: 7% !important;
  padding-bottom: 0 !important;
  .footer{
    padding-bottom: 5% !important;
    p{
      color: white !important;
    }
    form{
      .input-group{
        input , .input-group-append .btn{
          font-size: $min_size;
          color:$main_color;
        }
      }
    }
    .list-inline li{
      display: inline-block;
      padding: 2%;
      a i{
        color: white !important;
        font-size: $global_size;
      }
    }
  }
  span{
    color: $dark_head2_color;
  }
}

// ============================
