
//- Mixins Download Play App Story
mixin download_store(app_store , play_store)
  .download_imgs
    div(class="app-store d-inline-block")
      a(href="#")
        img(src=imgs+"download-imgs/app-store.png" class="img-responsive" alt=app_store)
    div(class="app-play d-inline-block")
      a(href="#")
        img(src=imgs+"download-imgs/app-play.png" class="img-responsive" alt=play_store)
