.story{
  position: relative;
  .detailsStoryDiv{
    background-color: $main_color;
    width: 60%;
    padding: 5px;
    position: absolute;
    left: 72px;
    right: auto;
    top: 215px;
    border-radius: 30px;
    .row{
      margin-left: 0;
      margin-right: 0;
    }
    .detailsAdmin , .detailsDate{
      padding: 0;
    }
    h6 , span , i {
      font-size: $min_size;
      color: white !important;
      padding: 5px;
    }
  }
  .contentTitleStory{
      padding: 50px 20px;
      padding-bottom: 0;
      h5{
        margin: 0;
      }
  }
}
